* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: linear-gradient(120deg, #caffd5c5 0%, #59d382 100%);
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
  }
  header {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
  }
  
  header,
  form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todoInput,
  .addButton {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    color: #47ff5f;
  }

  .todoInput{
    color:black;
  }
  
  .addButton:hover {
    background: #47ff5f;
    color: white;
  }

  .todoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todoList {
    min-width: 50%;
    list-style: none;
  }
  
  .todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .filterTodo {
    padding: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
  }

  .todo li {
    flex: 1;
    font-size: 1rem;
    text-align : center;
  }
  
  .trashBtn,
  .completeBtn {
    background: #f35a2f;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
  }

  .trashBtn:hover{
    background: white;
    color: #f35a2f;
  }

  .completeBtn {
    background: rgb(47, 207, 167);
  }

  .completeBtn:hover{
    background:rgb(19, 110, 88);
    color:white;
  }

  .todoItem {
    padding: 0rem 0.5rem;
  }
  
  .fa-trash,
  .fa-check {
    pointer-events: none;
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  
  /*CUSTOM SELECTOR */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
  }
  
  /* Custom Select */
  .select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
  }
  select {
    color: #22a534;;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    width: 12rem;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: #47ff5f;;
    cursor: pointer;
    pointer-events: none;
  }